@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@900&family=Noto+Serif+SC:wght@900&family=Noto+Serif+TC:wght@900&display=swap');

@font-face {
  font-family: 'jamsil';
  src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/LOTTE/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

#root {
  width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

body {
  margin: 0;
}

* {
  font-family: 'jamsil', 'Noto Serif KR', 'Noto Serif TC', 'Noto Serif SC', sans-serif;
  box-sizing: border-box !important;
  user-select: none;
  -webkit-user-drag: none;
}

@media only screen and (max-width: 768px) {
  html {
      font-size: 5px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  html {
      font-size: 6px;
  }
}

@media only screen and (min-width : 993px) {
  html {
      font-size: 7px;
  }
}