@font-face {
  font-family: 'jamsil';
  src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/LOTTE/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif KR';
  src: url('../public/static/fonts/NotoSerifKR-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

#root {
  width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

body {
  margin: 0;
}

* {
  font-family: 'jamsil', 'Noto Serif KR', sans-serif;
  box-sizing: border-box !important;
  /* user-select: none; */
  -webkit-user-drag: none;
}

@media only screen and (max-width: 768px) {
  html {
      font-size: 5px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  html {
      font-size: 6px;
  }
}

@media only screen and (min-width : 993px) {
  html {
      font-size: 7px;
  }
}